<div class="form-container">
    <h2>Technician Form</h2>
    <form action="update{{data.id}}" method="post">
        {% csrf_token%}
        <div class="form-group">
            <label for="technician-id">Technician ID</label>
            <input type="text" id="technician-id" name="technician-id" value="{{data.Tech_ID}}" placeholder="Enter Technician ID" required>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{data.name}}" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <label for="area">Area</label>
            <select id="area" name="area" value="{{data.area}}" required>
                <option value="">Select Area</option>
                <option value="north">North</option>
                <option value="south">South</option>
                <option value="east">East</option>
                <option value="west">West</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="deadline">Deadline</label>
            <!-- <input type="date" id="deadline" name="deadline" value="{{data.deadline}}"required> -->

            <input type="date" id="deadline" name="deadline" value="{{ data.Deadline|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>